<script type="text/javascript" src="<%=relative_path%>js/dt.js?v=<%=BUILD_VERSION%>"></script>
<script type="text/javascript" src="<%=relative_path%>js/index.js?v=<%=BUILD_VERSION%>"></script>
<script type="text/javascript" src="<%=relative_path%>js/enhance.js?v=<%=BUILD_VERSION%>"></script>
</body>
</html>